@model PostManageViewModel

@{
    ViewData["Title"] = "Chỉnh sửa bài đăng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = User.IsInRole("Admin"); // Kiểm tra nếu người dùng có vai trò Admin
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Loại</label>
        <select class="custom-select custom-select-lg mb-3" asp-for="TypeName" id="Type">
            <option value="RENT">Cho thuê</option>
            <option value="SELL">Bán</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Area" class="control-label"></label>
        <input asp-for="Area" class="form-control" />
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Status" />
    @if (isAdmin)
    {
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="form-control">
                <option value="Pending">Đang chờ</option>
                <option value="Approved">Duyệt</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    }else{
        <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input type="hidden" asp-for="Status" value="Pending" />
        <select asp-for="Status" class="form-control" disabled>
            <option value="Pending">Đang chờ</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    }
    <div class="form-group">
        <label asp-for="ImageUrls" class="control-label"></label>
        <textarea asp-for="ImageUrls" class="form-control" rows="5"></textarea>
        <span asp-validation-for="ImageUrls" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </div>
</form>